/* 제목 스타일 */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
  
/* 입력 그룹 스타일 */
.form-group {
  margin-bottom: 15px;
}
  
/* 라벨 스타일 */
label {
  display: block;
  margin-bottom: 5px;
}
  
/* 입력 필드 스타일 */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
  
/* 버튼 스타일 */
button {
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
  
button:hover {
  background-color: #0056b3;
}